


button {
    display:flex;
    align-items: center;
    border-radius: 50px;
    border:none;
    cursor:pointer;
}


button:hover, button:focus, .btn-link:hover, .btn-link:focus {
    opacity:0.7;
}


.btn-link {
    text-decoration: none;
    border-radius: 50px;
    padding:0.5rem 2rem;
    font-weight: 600;
    color: var(--blue-royal);
}

.btn-add {
    padding:0.5rem 1.5rem 0.5rem 1rem;
    background-color:var(--green);
    color:rgba(255, 255, 255, 0.932);
    font-size: 1rem;
    margin:0;
}
.btn-add i { margin-right: 0.3rem;}