


button {
    display:flex;
    align-items: center;
    border-radius: 50px;
    border:none;
    cursor:pointer;
}

button:disabled {
    background-color: var(--gray);
    opacity:0.7;
}

button:hover, .btn-link:hover  {
    background-color: var(--gray-light);
}

button:focus, .btn-link:focus{
    background-color: var(--gray);
    color:white;
}

.btn-link {
    text-decoration: none;
    border-radius: 50px;
    padding:0.5rem 2rem;
    font-weight: 600;
    color: var(--blue-royal);
}

.btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0.6rem 1rem 0.6rem 0.6rem;
    background-color:var(--pure);
    color:var(--green);
    font-size: 0.9rem;
    margin:0;
    border: 1px solid var(--gray-light);

    box-shadow: var(--shadow-sm);
}

.btn-add i { margin-right: 0.3rem; font-size: 1rem;}


.btn-close {
    padding:0.5rem 1.5rem 0.5rem 1.5rem;
    font-size:1rem;
    margin:0;
    color: var(--gray);
    font-weight: 600;
    border: 1px solid var(--gray-light);
}

.btn-confirm {
    padding:0.5rem 1.5rem 0.5rem 1.5rem;
    font-size:1rem;
    margin:0;
    color:white;
}



.goBack {
    position: absolute;
    top: 130px;
    left: 60px;
    padding:0.5rem;
    border-radius: 25px;
    box-shadow: var(--shadow-sm);
    background-color: white;
    font-size: 2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--blue-royal);
}

.goBack p {
    padding: 0 1rem;
    margin: 0;
    font-size: 1rem;
}

.goBack:focus, .goBack:hover {
    background-color: var(--gray-light);
}


@media(max-width:700px){
    .goBack {
        position:static;
        width:85% !important;
        margin: 0 auto;
    }
}