.card-content {
    box-shadow: var(--shadow-sm);
    padding:1rem;
    border-radius: 35px;
}

.summary-card {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: var(--shadow-sm);
    border-radius: 50px;
    padding: 0 0.5rem;
    
}

.summary-card-title {
    padding:0 0.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--blue-royal);

}

.summary-card-title i {
    font-size: 1.2rem;
    margin-right:0.2rem;
    margin-left:0rem;
}

.summary-card-group {
    display:flex;
    flex-wrap: wrap;

}

.summary-card-group div {
    padding:0.7rem 1rem 0.7rem 1rem;
    border-right: 1px solid rgb(231, 229, 229);
    font-size:1rem;
}


.summary-card-group div:last-child {
    border-right:none;
}

.summary-card-group div p {
    padding:0;
    margin:0;
    color: var(--blue-royal);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary-card-group div p i{
    margin:0 0.2rem;
    font-size: 1.3rem;
    font-weight: 100;
}

@media( max-width: 1000px){
    .summary-card {
        padding-bottom: 1.5rem;
        border-radius: 25px;
    }
    
    .summary-card-group, .summary-card-title {
        padding:1rem 0 0 0;
    }

    .summary-card-group {
        align-items: center;
        text-align: left;
    }

    .summary-card-group div {
        padding:0.3rem;
        border-right: none;
        font-size:1rem;
       
    }
}

/*
*********************************
************* TABLA  ************
*********************************
*/


.finance-card {
    margin:0;
    width: 100%;
    min-height: 25vh;
    border-radius: 28px;
    box-shadow: var(--shadow-sm);
}

.record-header {
    margin:0;
    padding: 0;
    border-bottom: 1px solid rgb(231, 229, 229);
}

.record-header .record-row:hover {
    margin:0;
    padding:1rem;
    cursor:text;
    box-shadow: none;
    transition: none;
    border-radius: none;
    background-color: white; 
}

.record-header .record-row {
    display: flex;
    justify-content: start;
}

.record-container {
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80vh;
    width:100%;
    padding:0.5rem;
}


.record-row {
    margin:0;
    padding:1rem;
    display:flex;
    list-style: none;
    background:white;
    justify-content: space-around;
    border-bottom: 1px solid rgb(231, 229, 229);
}

.record-row:last-child {
    border-bottom: none;
}

.record-row:hover {
    border-bottom: none;
    border-radius: 50px;
    box-shadow: var(--shadow);
    background-color: white; 
    margin:1rem 0;
    padding:1.3rem;
    transition: margin 500ms ease, box-shadow 500ms ease;
}

.record-item {
 
    text-transform: capitalize;
    text-align: center !important;
    align-items: center;
    justify-content: center;
    display: flex;

}

.record-item a, .record-item p{
    width: 15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0;
    padding:0;
}

.record-item i:hover {
    cursor:pointer;   
    font-size: 2rem;
    transition: font-size 500ms ease-in-out;
}

@media(max-width:700px){

    section { padding: 1rem;}

    .card-content {
        width:100%;
    }

    .finance-card {
        width:100%;
        display:block;
        overflow-x: hidden;
        overflow-y: hidden;
        border-radius: 25px;
    }

    .record-header .record-row {
        display:block;
    }

    .record-item {
        padding:0.5rem;
    }

    .record-container{
        overflow-x: auto;
        width:100%;
        display:block;
    }

    .record-row {
        display:block;
        width:100%;
        padding:1rem 0;
    }

  
}











