
.header-container {
    padding:0 1rem;
}

.page-header {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem auto;
    width:100%;
    border-radius: 35px;
    background-color: var(--blue-royal);
    color: var(--pure);
}


.page-header-container {
    width:90%;
    padding: 3rem 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.page-header-container i {
    font-size: 4rem;
    font-weight: 100;
    margin-right: 0.5rem;
}

.page-header-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
}

.page-header-info h1 {
    padding:0;
    margin:0 4rem 0 0;
    font-weight: 100;
    font-size: 2.5rem;
    color: inherit;
   
}

.page-header-info p {
    margin:0;
    padding:0;
    color: inherit;
}


.page-header-detail{
    margin:0;
    padding:2rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 100;
    border-left:1px solid white ;
}



@media(max-width:700px){

    .header-container { padding:0;}

    .page-header {
        padding:0 2rem;
        width:90%;
    }

    .page-header h1 {
        line-height: 2rem;
        font-weight: 100;
    }

    .page-header p {
        margin-top: 0.4rem;
        margin-left:0.4rem ;
    }

    .page-header-container, .page-header-info { 
        width:100%;
    }

    .page-header-info {
        padding-bottom: 2rem;
    }

    .page-header-info h1 {
        margin:0;
    }

    .page-header-detail {
        border:none;
        font-size: 2rem;
        padding:1rem;
        border-top: 1px solid white;
      
    }

}
