@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("./general.css");
@import url("brand.component.css");
@import url("buttons.css");
@import url("navbar.component.css");
@import url("modal.css");
@import url("finance.card.css");
@import url("activebar.component.css");
@import url("header.css");


.f-roboto {font-family: 'Roboto', sans-serif;}

.icon-edit { margin-right:0.5rem; color:var(--gray); }

.icon-delete { color:var(--gray); }

.icon-edit:hover {  color:var(--green); }

.icon-delete:hover{ color:var(--wine); }

.container { width:85%; }

.fade-in{  animation:fadeIn 2.5s; }

@media( max-width: 700px){ .container {width:100%;} }

@keyframes fadeIn{ 0%{opacity:0} to{opacity:1} }