

.navbar {
    padding:1.4rem;
    display:flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: solid 1px var(--gray-light); */
}

.navbar-content {
    width:95%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-items {
    margin:0 2rem 0 0;
    padding:0;
    min-width:280px;
    max-width:350px;
    display:flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.navbar-items li { padding:1rem; }

.navbar-items li a {
    color: var(--gray);
    font-weight: 600;
}

.navbar-items li a:hover, .navbar-items li a:focus {
    color: var(--gray);
    opacity:0.7;
    transition: color 500ms ease;
}

@media(max-width:700px){

    .navbar {
        border-bottom: solid 1px var(--gray-light);
        margin-bottom: 3rem;
    }

    .navbar-content{
        flex-direction: column;
    }

    .nav-brand{
        margin-bottom: 1.5rem;
        margin-right: auto;
    }
    .navbar-items li, .navbar-items li a {
        display:block;
        width:100%;
    }
}
